.user-data-item {
  display: flex;
  justify-content: space-between;
  min-width: 510px;
  border-bottom: 1px solid #EAEAEA;
  padding-bottom: 10px;
  
  label {
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 13px;
    color: #1e1e1e;
  }
  
  input {
    outline: none;
    border: none;
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 13px;
    text-align: right;
    color: #1e1e1e;
  }
  
  input:disabled{
    background-color: transparent;
    color: #999;
  }
}

.user-data-item:last-child {
  border-bottom: none;
}
