<form class="form {{ className }}" >
  <div class="wrapper-title">
    {{> Title}}
  </div>
  {{> @partial-block }}
  <div class="wrapper-submit-btn">
    {{> Button}}
    {{> Link}}
  </div>
</form>
