<div class="wrapper-navigation">
  <a class="link-profile" href="">
    Профиль
    <img src="/img/arrow_right.svg" alt="arrow_profile" width="6px" height="14px">
  </a>
  <input 
    class="search-input"
    type="search" 
    name="search-input" 
    id="search-input" 
    placeholder="Поиск" 
    required
  >
</div>
