.wrapper {
  display: flex;
  width: 100px;
  height: 100%;

  .side-bar {
    background: #fbfbfb;
    border-right: 1px solid #eaeaea;
    padding: 0 10px;
  }

  .chat-area {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #999;
  }
}
