<form class="login-form">
  <div class="wrapper-title-login">
    {{> Title content="Вход"}}
  </div>
  {{> Input name="login" labelValue="Логин" type="text" }}
  {{> Input name="password" labelValue="Пароль" type="password" }}
  <div class="wrapper-submit-btn">
    {{> Button buttonContent="Авторизоваться" }}
    {{> Link linkContent="Нет аккаунта?" }}
  </div>
</form>