<form class="login-form">
  {{> Input name="login" labelValue="Логин" type="text" }}
  {{> Input name="password" labelValue="Пароль" type="password" }}
  {{!-- <button type="submit">Submit</button> --}}
</form>