@import "../../../colors";

button {
  border-radius: 8px;
  width: 100%;
  max-width: 280px;
  height: 37px;
  background: $bg-container-color;
  border: none;
  outline: none;
  font-family: Inter, sans-serif;
  font-weight: 500;
  letter-spacing: 0.5px;
  font-size: 13px;
  color: $text-btn-color;
  cursor: pointer;
  transition: all 0.3s;
}

button:active {
  background: #008cff;
}

button:disabled {
  background: #87b4f3;
  cursor: auto;
}
