<div class="wrapper">
  <aside class="side-bar">
    {{> ChatNav}}
    <ul class="contact-list">
      {{#each (ContactItems)}}
        {{> ChatItem }}
      {{/each}}
    <ul>
  </aside>
  <div class="chat-area">
    Выберите чат чтобы отправить сообщение
  </div>
</div>
