<div class="profile">
  {{{ profileAvatar }}}
  <form class="user-data-form">
    <ul class="user-data-list">
      {{#each profileInputs}}
        {{{ this }}}
      {{/each}}
    </ul>
    <ul class="edit-panel-list">
      {{#each profileActions}}
        {{{ this }}}
      {{/each}}
    </ul>
  </form>
</div>
