<div class="profile">
  {{> ProfileAvatar avatarTitle="Илон Маск"}}
  <form class="user-data-form">
    <ul class="user-data-list">
      {{#each (ProfileInputs)}}
        {{> ProfileInput }}
      {{/each}}
    </ul>
    <ul class="edit-panel-list">
      {{#each (ProfileActions)}}
        {{> ProfileAction }}
      {{/each}}
    </ul>
  </form>
</div>
