@import "../../../colors";

.edit-panel-item {
  border-bottom: 1px solid $border-color;
  padding-bottom: 10px;

  a {
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 13px;
    color: $bg-container-color;
    text-decoration: none;
  }
}

.edit-panel-item:last-child {
  border-bottom: none;

  a {
    color: $text-error-color;
  }
}
