.edit-panel-item {
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 10px;

  a {
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 13px;
    color: #3369f3;
    text-decoration: none;
  }
}

.edit-panel-item:last-child {
  border-bottom: none;

  a {
    color: #d32f2f;
  }
}
