$bg-container-color: #3369f3;
$bg-input-color: #efefef;
$bg-body-color: #fbfbfb;

// border color var
$border-color: #eaeaea;

// font color var
$text-btn-color: #fff;
$text-dark-color: #1e1e1e;
$text-light-color: #999;
$text-error-color: #d32f2f;
