<div class="profile">
  {{{ profileAvatar }}}
  <form class="user-data-form">
    <ul class="user-data-list">
      {{{ profileInputs }}}
    </ul>
    <ul class="edit-panel-list">
      {{{ profileActions }}}
    </ul>
  </form>
</div>
